 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #2356FF;
    --secondary-color: #7657FF;
    --light-secondary-color: #8DA7FC;
    --gray-bg-color: #F9F9F9;
    --gray-border-color: #DDDDDD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #F2F5FF, #E8E2FF);
}

/* START THE CODE BELOW */

.container {
    background: white;
    padding: 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    width: 90%;
    max-width: 700px;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
   
}

.title__icon{
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    fill: white;
    width: 45px;
    height: 45px;
    border-radius: 12px;
    padding: 8px;
    box-shadow: 0px 02px 10px var(--light-secondary-color);
}
.title__text {
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    background-clip: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
    font-weight: bold;
}

.form-and-image{
    display: flex;
    gap: 32px;
    margin-top: 24px;
}

.form-container{
    width: 100%;
}

.form-container__prompt-input{
    resize: none;
    background: var(--gray-bg-color);
    border: 1.5px solid var(--gray-border-color);
    border-radius: 8px;
    padding: 8px 10px;
    width: 100%;
    /* height: 150px; */
    outline: solid 3px transparent;
    transition: 200ms ease-in;
}

.form-container__prompt-input:focus {
    outline: solid 3px var(--light-secondary-color);
    border-color: var(--primary-color);
}

.form-container__dropdown-group{
    margin-top: 8px;
    display: flex;
    gap: 12px;
}

.form-container__dropdown{
    padding: 8px 10px;
    border-radius: 8px;
    background: var(--gray-bg-color);
    border: 2px solid var(--gray-border-color);
    outline: solid 3px transparent;
    transition: 300ms ease;
    cursor: pointer;

}

.form-container__dropdown:focus {
    outline: solid 3px var(--light-secondary-color);
    border-color: var(--primary-color);
}

.form-container__button{
    margin-top: 16px;
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    padding: 8px 12px;
    fill: white;
    color: white; 
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    cursor: pointer;
     outline: solid 3px transparent;
    transition: 300ms ease;
}


.form-container__button:hover {
    box-shadow: 0px 2px 20px var(--light-secondary-color);
    
}
.form-container__button:focus {
    outline: solid 3px var(--light-secondary-color);
}

.image-container{
   
    aspect-ratio: 1 / 1;
    width: 65%;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    position: relative;
}

.image-container:hover .image-container__image-result{
    transform: scale(1.05);
}
.image-container:hover .image-container__layer{
    opacity: 1;
}

.image-container__image-result{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: 300ms ease;
    /* display: none; Initially hidden */
}

.image-container__layer{
    opacity: 0;
    position: absolute;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.0));
    width: 100%;
    height: 30%;
    bottom: 0;
    transition: 300ms ease;

}
  /* <div class="form-and-image">
            <!-- FORM CONTAINER -->
            <section class="form-container">
                <!-- PROMPT INPUT -->
                <textarea class="form-container__prompt-input" id="prompt" rows="5"
                    placeholder="Describe your image..."></textarea>
                <div class="form-container__dropdown-group">
                    <!-- DROPDOWN STYLE -->
                    <select class="form-container__dropdown" id="dropdownStyles">
                        <option value="realistic">Realistic</option>
                        <option value="anime">Anime</option>
                        <option value="flux-schnell">Flux Schnell</option>
                    </select>
                    <!-- DROPDOWN RATIO -->
                    <select class="form-container__dropdown" id="dropdownRatio">
                        <option value="1:1">1:1</option>
                        <option value="16:9">16:9</option>
                        <option value="9:16">9:16</option>
                    </select>
                </div>
                <!-- GENERATE IMAGE BUTTON -->
                <button class="form-container__button" onclick="generateImage()">
                    <box-icon type='solid' name='magic-wand'></box-icon>
                    Generate Image
                </button>
            </section>

            <!-- IMAGE CONTAINER -->
            <section class="image-container" id="imageContainer">
                <!-- IMAGE RESULT -->
                <img class="image-container__image-result" id="imageResult" src="example.jpeg" height="20px" width="20px">

                <div class="image-container__layer"></div>
                <button class="image-container__download-button" onclick="downloadImage()">
                    <box-icon name='download'></box-icon>
                </button>

                <!-- LOADING CONTAINER -->
                <div class="image-container__loading-container">
                    <svg class="image-container__loading-spinner" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 200 200">
                        <radialGradient id="a12" cx=".66" fx=".66" cy=".3125" fy=".3125" gradientTransform="scale(1.5)">
                            <stop offset="0" stop-color="#2356FF"></stop>
                            <stop offset=".3" stop-color="#2356FF" stop-opacity=".9"></stop>
                            <stop offset=".6" stop-color="#2356FF" stop-opacity=".6"></stop>
                            <stop offset=".8" stop-color="#2356FF" stop-opacity=".3"></stop>
                            <stop offset="1" stop-color="#2356FF" stop-opacity="0"></stop>
                        </radialGradient>
                        <circle transform-origin="center" fill="none" stroke="url(#a12)" stroke-width="20"
                            stroke-linecap="round" stroke-dasharray="200 1000" stroke-dashoffset="0" cx="100" cy="100"
                            r="70">
                            <animateTransform type="rotate" attributeName="transform" calcMode="spline" dur="2"
                                values="360;0" keyTimes="0;1" keySplines="0 0 1 1" repeatCount="indefinite">
                            </animateTransform>
                        </circle>
                        <circle transform-origin="center" fill="none" opacity=".2" stroke="#2356FF" stroke-width="20"
                            stroke-linecap="round" cx="100" cy="100" r="70"></circle>
                    </svg>
                    <span class="image-container__loading-text">Generating Image ...</span>
                </div>
            </section>
        </div> */